<script lang="ts">
import { defineComponent } from 'vue';
import { useRoute } from 'vue-router';
import MainLayout from '@/layouts/MainLayout.vue';
import HistoryList from '@/components/HistoryList.vue';
import type { AppRoutes, HistoryViewMeta } from '@/types';
import { OpType } from '@/const';

export default defineComponent({
    components: {
        MainLayout,
        HistoryList,
    },
    setup() {
        const route = useRoute();

        function getHistoryMeta(): HistoryViewMeta {
            const historyType = route.query.type;
            if (typeof historyType === 'string') {
                if (historyType.toLowerCase() === 'add') {
                    return { type: OpType.ADD, title: 'История добавлений' };
                } else if (historyType.toLowerCase() === 'remove') {
                    return { type: OpType.REMOVE, title: 'История удалений' };
                }
            }
            return { type: OpType.ALL, title: 'История всех изменений' };
        }

        const routes: AppRoutes = [{ name: 'главная', to: '/' }];

        return {
            historyMeta: getHistoryMeta(),
            routes,
        };
    },
});
</script>

<template>
    <main-layout :nav="routes">
        <h1>{{ historyMeta.title }}</h1>
        <history-list :type="historyMeta.type" />
    </main-layout>
</template>
