<script lang="ts">
import { defineComponent, computed, ref, watch } from 'vue';
import { usePersonsStore } from '@/stores/persons';
import MainLayout from '@/layouts/MainLayout.vue';
import PersonList from '@/components/PersonList.vue';
import SearchField from '@/components/SearchField.vue';
import { searchTextInList } from '@/services/search';
import { debounce } from '@/utils';
import { OpType } from '@/const';

import type { MatchedPersonData, AppRoutes } from '@/types';

export default defineComponent({
    components: {
        PersonList,
        SearchField,
        MainLayout,
    },
    setup() {
        const personsStore = usePersonsStore();

        if (personsStore.originalPersonList.length === 0) {
            personsStore.getAllPersons();
        }

        const defaultPersonList = computed(() => personsStore.default);
        const selectedPersonList = computed(() => personsStore.selected);

        let search = ref('');

        watch(
            search,
            debounce((currentSearch: string) => {
                if (currentSearch.length > 0) {
                    personsStore.personList = searchTextInList(
                        personsStore.originalPersonList,
                        currentSearch
                    );

                    personsStore.personList = (
                        personsStore.personList as Array<MatchedPersonData>
                    ).map((person) => {
                        return {
                            ...person,
                            matchCount:
                                person.matchCount +
                                person.items.filter(
                                    (item) => item.matchCount === 1
                                ).length,
                        };
                    });

                    personsStore.personList = (
                        personsStore.personList as Array<MatchedPersonData>
                    ).sort((a, b) => {
                        if (a.matchCount > b.matchCount) {
                            return -1;
                        }
                        if (a.matchCount < b.matchCount) {
                            return 1;
                        }
                        return 0;
                    });
                } else {
                    personsStore.makePersonListOriginal();
                }
            })
        );

        const routes: AppRoutes = [
            { name: 'история', to: '/history' },
            { name: 'история добавлений', to: `/history?type=${OpType.ADD}` },
            { name: 'история удалений', to: `/history?type=${OpType.REMOVE}` },
        ];

        return {
            defaultPersonList,
            selectedPersonList,
            routes,
            search,
        };
    },
});
</script>

<template>
    <main-layout :nav="routes">
        <div class="home">
            <div class="home__search">
                <search-field v-model="search" />
            </div>
            <div class="home__default-list">
                <h2>Список людей</h2>
                <person-list :personList="defaultPersonList" />
            </div>
            <div class="home__selected-list">
                <h2>Выбранные элементы</h2>
                <person-list :personList="selectedPersonList" />
            </div>
        </div>
    </main-layout>
</template>

<style scoped>
.home {
    display: grid;
    grid-template-areas:
        'search'
        'default'
        'selected';
    row-gap: 0.5rem;
    column-gap: 1rem;
}
.home__search {
    grid-area: search;
}
.home__default-list {
    grid-area: default;
}
.home__selected-list {
    grid-area: selected;
}
@media (min-width: 580px) {
    .home {
        grid-template-areas:
            'search search'
            'default selected';
        grid-template-columns: 1fr 1fr;
        row-gap: 0.5rem;
        column-gap: 1rem;
    }
}
</style>
