<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
    name: 'VButton',
    props: {
        mod: { type: String, default: 'add' },
    },
    setup(props) {
        return {
            modifierClass: ref(`button--${props.mod}`),
        };
    },
});
</script>

<template>
    <button type="button" class="button" :class="modifierClass">
        <slot name="icon"></slot>
        <slot></slot>
    </button>
</template>

<style scoped>
.button {
    display: inline-block;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border: none;
}
.button--add {
    background: var(--color-main);
    color: var(--color-background);
}
.button--remove {
    background: var(--color-extra);
    color: var(--color-background);
}
</style>
