<script lang="ts">
import { defineComponent } from 'vue';
import type { PropType } from 'vue';
import type { HistoryItem } from '@/types';
import { OpType } from '@/const';

export default defineComponent({
    name: 'HistoryItem',
    props: {
        item: { type: Object as PropType<HistoryItem>, default: () => ({}) },
    },
    setup(props) {
        function getHistoryItemTypeText(historyItem: HistoryItem) {
            if (historyItem.type === OpType.ADD) {
                return 'добавлен';
            } else if (historyItem.type === OpType.REMOVE) {
                return 'удален';
            }
            return '';
        }
        const historyTypeText = getHistoryItemTypeText(props.item);
        return {
            historyTypeText,
            type: props.item.type,
        };
    },
});
</script>

<template>
    <div class="history">
        <h2 class="history__name">{{ item.person.name }}</h2>
        <div class="history__id">{{ item.person.id }}</div>
        <div
            class="history__type"
            :class="`history__type--${type.toLowerCase()}`"
        >
            {{ historyTypeText }}
        </div>
        <time class="history__date" :datetime="item.date">{{
            new Intl.DateTimeFormat('default', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric',
                hour12: false,
            }).format(new Date(item.date))
        }}</time>
    </div>
</template>

<style scoped>
.history {
    display: grid;
    grid-template-areas:
        'name id'
        'type date';
    gap: 0.25rem;
    max-width: 30rem;
    justify-content: space-between;
}
.history__name {
    grid-area: name;
}
.history__id {
    grid-area: id;
    background: var(--color-accent-20);
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
}
.history__type {
    grid-area: type;
    justify-self: start;
    padding: 0.25rem;
    border-radius: 0.25rem;
    display: inline;
}
.history__type--add {
    background-color: var(--color-main);
    color: var(--color-background);
}
.history__type--remove {
    background-color: var(--color-extra);
    color: var(--color-background);
}
.history__date {
    grid-area: date;
}
</style>
