<script lang="ts">
import { defineComponent, computed, ref } from 'vue';
import type { ComputedRef } from 'vue';
import { useHistoryStore } from '@/stores/history';
import { OpType } from '@/const';
import HistoryItem from '@/components/HistoryItem.vue';

import type { HistoryItem as HistoryItemType } from '@/types';
import type { PropType, Ref } from 'vue';

export default defineComponent({
    name: 'HistoryList',
    components: { HistoryItem },
    props: {
        type: { type: Object as PropType<OpType>, default: OpType.ALL },
    },
    setup(props) {
        const historyStore = useHistoryStore();

        let historyList:
            | ComputedRef<Array<HistoryItemType>>
            | Ref<Array<HistoryItemType>> = ref([]);
        if (props.type === OpType.ALL) {
            historyList = computed(() => historyStore.historyList);
        } else if (props.type === OpType.ADD) {
            historyList = computed(() => historyStore.addedList);
        } else if (props.type === OpType.REMOVE) {
            historyList = computed(() => historyStore.removedList);
        }

        return {
            historyList,
            OpType,
        };
    },
});
</script>

<template>
    <ul v-if="historyList.length > 0" class="history-list">
        <li
            v-for="historyItem in historyList"
            :key="historyItem.date"
            class="history-list__item"
        >
            <history-item :item="historyItem" />
        </li>
    </ul>
    <div v-else>
        Пока тут пусто. Попробуйте нажать на кнопку
        {{ type === OpType.REMOVE ? 'remove' : 'add' }} на главной странице.
    </div>
</template>

<style scoped>
.history-list {
    list-style-type: none;
    padding: 0;
}
.history-list__item:not(:first-of-type) {
    margin-top: 0.5rem;
}
</style>
