<script lang="ts">
import { defineComponent } from 'vue';
import type { PropType } from 'vue';

import type { Person } from '../types';

export default defineComponent({
    name: 'MiniPerson',
    props: {
        person: { type: Object as PropType<Person>, default: () => ({}) },
    },
});
</script>

<template>
    <div class="mini-person">
        <h4 class="mini-person__name" v-html="person.name"></h4>
        <p class="mini-person__id">{{ person.id }}</p>
    </div>
</template>

<style scoped>
.mini-person {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.25rem;
    border-left: 1px solid var(--color-accent);
}
.mini-person__id {
    background: var(--color-accent-20);
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>
