<script lang="ts">
import { defineComponent } from 'vue';
import type { AppRoutes } from '@/types';
import type { PropType } from 'vue';

export default defineComponent({
    name: 'VNav',
    props: {
        routes: { type: Array as PropType<AppRoutes>, default: () => [] },
    },
});
</script>

<template>
    <nav class="nav">
        <router-link
            v-for="route in routes"
            :key="route.name"
            :to="route.to"
            class="nav__link"
        >
            {{ route.name }}
        </router-link>
    </nav>
</template>

<style scoped>
.nav {
    display: flex;
    gap: 0.5rem;
}
.nav__link {
    color: var(--color-main);
}
.nav__link:hover {
    color: var(--color-extra);
}
.nav__link:visited {
    color: var(--color-main);
}
.nav__link:visited:hover {
    color: var(--color-extra);
}
</style>
