<script lang="ts">
import { defineComponent, computed } from 'vue';
import type { PropType } from 'vue';
import VPerson from '@/components/Person.vue';
import { usePersonsStore } from '@/stores/persons';
import { useHistoryStore } from '@/stores/history';

import type { PersonData } from '@/types';
import { PersonState, OpType } from '@/const';

export default defineComponent({
    name: 'PersonList',
    props: {
        personList: {
            type: Array as PropType<Array<PersonData>>,
            default: () => [],
        },
    },
    components: {
        VPerson,
    },
    setup() {
        const personsStore = usePersonsStore();
        const historyStore = useHistoryStore();

        function handleAdd(person: PersonData) {
            personsStore.changePersonState(person, PersonState.SELECTED);
            historyStore.addToHistoryList({
                person: { id: person.id, name: person.name },
                type: OpType.ADD,
                date: new Date().toISOString(),
            });
        }

        function handleRemove(person: PersonData) {
            personsStore.changePersonState(person, PersonState.DEFAULT);
            historyStore.addToHistoryList({
                person: { id: person.id, name: person.name },
                type: OpType.REMOVE,
                date: new Date().toISOString(),
            });
        }

        const isLoading = computed(() => personsStore.isLoading);

        return {
            handleAdd,
            handleRemove,
            isLoading,
            PersonState,
        };
    },
});
</script>

<template>
    <ul class="person-list" v-if="personList.length > 0">
        <li
            v-for="person in personList"
            :key="person.id"
            class="person-list__item"
        >
            <v-person
                :person="person"
                @add="handleAdd"
                @remove="handleRemove"
            />
        </li>
    </ul>
    <div v-else-if="isLoading">загрузка...</div>
    <div v-else>пусто :(</div>
</template>

<style scoped>
.person-list {
    padding: 0;
    list-style-type: none;
    margin-top: 0.5rem;
}
.person-list__item:not(:first-of-type) {
    margin-top: 0.5rem;
}
</style>
