<script lang="ts">
import { defineComponent } from 'vue';
import type { PropType } from 'vue';

import VButton from './Button.vue';
import MiniPerson from './MiniPerson.vue';

import type { PersonData } from '@/types';
import { PersonState } from '@/const';

export default defineComponent({
    name: 'VPerson',
    props: {
        person: { type: Object as PropType<PersonData>, default: () => ({}) },
    },
    components: {
        VButton,
        MiniPerson,
    },
    emits: ['add', 'remove'],
    setup(props, { emit }) {
        function add() {
            emit('add', props.person);
        }
        function remove() {
            emit('remove', props.person);
        }

        return {
            add,
            remove,
            PersonState,
        };
    },
});
</script>

<template>
    <div class="person">
        <div class="person__meta">
            <h3 class="person__name" v-html="person.name"></h3>
            <p class="person__id">{{ person.id }}</p>
        </div>
        <ul class="person__items" v-if="person.items.length > 0">
            <li
                class="person__items-item"
                v-for="miniPerson in person.items"
                :key="miniPerson.id"
            >
                <mini-person :person="miniPerson" />
            </li>
        </ul>
        <v-button
            v-if="person.state === PersonState.DEFAULT"
            mod="add"
            class="person__button"
            @click="add"
        >
            <template #icon> + </template>
            add
        </v-button>
        <v-button
            v-else-if="person.state === PersonState.SELECTED"
            mod="remove"
            class="person__button"
            @click="remove"
        >
            <template #icon> - </template>
            remove
        </v-button>
    </div>
</template>

<style scoped>
.person {
    display: grid;
    grid-template-areas:
        'meta button'
        'items items';

    grid-template-columns: 1fr auto;
    row-gap: 0.75rem;
    justify-content: space-between;
    max-width: 30rem;
}
.person__meta {
    grid-area: meta;
}
.person__id {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.person__items {
    padding-left: 0.25rem;
    list-style-type: none;
    grid-area: items;
}
.person__button {
    grid-area: button;
    align-self: start;
}
.person__items-item:not(:first-of-type) {
    margin-top: 0.25rem;
}
</style>
