:root {
  --color-main: #4361ee;
  --color-secondary: #4cc9f0;
  --color-extra: #d93865;
  --color-accent: #7209b7;
  --color-accent-20: hsl(276, 91%, 38%, 0.2);
  --color-text: black;
  --color-background: white;
  --color-match: yellow;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  height: 100%;
}
body {
  min-height: 100vh;
  height: 100%;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
