<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'App',
});
</script>

<template>
    <RouterView />
</template>

<style>
@import '@/assets/base.css';

.matched {
    background: var(--color-match);
}

.app {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    min-height: 100%;
    padding: 1rem;
}
.app__header {
    grid-area: header;
}
.app__main {
    grid-area: main;
}
.app__footer {
    grid-area: footer;
}
</style>
