<script lang="ts">
import { defineComponent } from 'vue';
import VNav from '@/components/Nav.vue';
import type { AppRoutes } from '@/types';
import type { PropType } from 'vue';

export default defineComponent({
    props: {
        nav: { type: Array as PropType<AppRoutes>, default: () => [] },
    },
    components: {
        VNav,
    },
});
</script>

<template>
    <header class="app__header">
        <v-nav :routes="nav" />
    </header>
    <main class="app__main">
        <slot />
    </main>
    <footer class="app__footer">
        Made by <a href="https://github.com/moody-person">me</a>
    </footer>
</template>

<style scoped></style>
